<ion-content>
  <ion-fab 
    vertical="top"
    horizontal="end"
    slot="fixed"
    *ngIf="(this.currentChat?.type === 'channel' && isAdmin) || this.currentChat?.type === 'group'">
    <ion-fab-button (click)="openEditModal()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <nb-chat
    [title]="currentChat?.title"
    scrollBottom
    #chat
    [nbSpinner]="loading"
  >
    <nb-chat-message
      *ngFor="let msg of currentChat?.messages"
      [type]="msg.type"
      [message]="msg.content"
      [reply]="(msg.sender | cast)._id === currentUser._id"
      [sender]="(msg.sender | cast).name"
      [date]="msg.sentDate"
      [files]="msg.attachments"
      [avatar]="(msg.sender | cast).profileImg"
    >
    </nb-chat-message>

    <nb-chat-form (send)="sendMessage($event)" [showButton]="currentChat?.type !== 'channel' || isAdmin" [dropFiles]="true">
    </nb-chat-form>
  </nb-chat>
</ion-content>
<app-image-picker
  #imagePicker
  [visible]="false"
  (imagePicked)="uploadMsgWithImg($event)"
></app-image-picker>
